@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.nav{
  background: #35589A;
  color: white;
}
.home{
  font-family: "Nunito";
}
.service{
  font-family: "Nunito";
}
.login{
  font-family: "Nunito";
}